In [1]:
import sqlite3
con = sqlite3.connect('swdb.sqlite')
cur = con.cursor()

In [2]:
sql1 = """
CREATE TABLE DM_TBL (
Dmno INT(8) NOT NULL,
Custid VARCHAR(10),
maildate DATE,
contents VARCHAR(13),
dept CHAR(2),
grade CHAR(1),
campaign CHAR(2),
PRIMARY KEY(Dmno)
)
"""

In [3]:
sql2 = """
CREATE TABLE bookinfo_tbl(
custid VARCHAR(10) NOT NULL,
author VARCHAR(20),
goods CHAR(2),
phone VARCHAR(13),
email VARCHAR(20),
area VARCHAR(20),
PRIMARY KEY(custid)
)
"""

In [4]:
try:        
    cur.execute("DROP TABLE IF EXISTS DM_TBL")
    cur.execute("DROP TABLE IF EXISTS bookinfo_tbl")
    cur.execute(sql1)
    cur.execute(sql2)
    print ('table created successfully')
except Exception as e:
    print ('error in operation, ', e)
    con.rollback()
    con.close()

table created successfully

In [5]:
sql = """
INSERT INTO DM_TBL (Dmno, custid, maildate, contents, dept,grade, campaign) 
            VALUES(?, ?, ?, ?, ?, ?, ?);
"""
data = [(1, "aaa", '2017-12-01','안녕하세요?', '10', '1', 'C'),
        (2, "bbb", '2017-12-01','안녕하세요?', '10', '1', 'C1'),
        (3, "ccc", '2017-12-01','안녕하세요?', '10', '1', 'C1'),
        (4, "ddd", '2017-12-24','안녕하세요?', '20', 'V', 'C2'),
        (5, "eee", '2017-12-24','안녕하세요?', '20', 'VV', 'C2'),
        (6, "fff", '2017-12-24','안녕하세요?', '30', '1', 'C2')
       ]

In [6]:
cur.executemany(sql, data)

In [8]:
cur.execute('SELECT * FROM DM_TBL')
cur.fetchone()

(1, 'aaa', '2017-12-01', '안녕하세요?', '10', '1', 'C')

In [9]:
cur.fetchone()

(2, 'bbb', '2017-12-01', '안녕하세요?', '10', '1', 'C1')

In [10]:
cur.fetchone()

(3, 'ccc', '2017-12-01', '안녕하세요?', '10', '1', 'C1')

In [11]:
cur.fetchall()

[(4, 'ddd', '2017-12-24', '안녕하세요?', '20', 'V', 'C2'),
 (5, 'eee', '2017-12-24', '안녕하세요?', '20', 'VV', 'C2'),
 (6, 'fff', '2017-12-24', '안녕하세요?', '30', '1', 'C2')]

In [12]:
sql = """
INSERT INTO bookinfo_tbl(custid, author, goods, phone, email, area) 
            VALUES(?, ?, ?, ?, ?, ?);
"""

data = [("aaa", '김고객','의류', '010-1111-1111', 'aaa@korea.com', '서울'),
       ("bbb", '이고객','의류', '010-1111-1112', 'bbb@korea.com', '서울'),
        ("ccc", '박고객','식료품', '010-1111-1113', 'ccc@korea.com', '경기'),
        ("ddd", '홍고객','공산품', '010-1111-1114', 'ddd@korea.com', '대전'),
        ("eee", '조고객','컴퓨터', '010-1111-1115', 'eee@korea.com', '대전'),
        ("fff", '백고객','관광', '010-1111-1116', 'fff@korea.com', '울산')
       ]

In [13]:
cur.executemany(sql, data)

In [14]:
cur.execute('SELECT * FROM bookinfo_tbl')
cur.fetchall()

[('aaa', '김고객', '의류', '010-1111-1111', 'aaa@korea.com', '서울'),
 ('bbb', '이고객', '의류', '010-1111-1112', 'bbb@korea.com', '서울'),
 ('ccc', '박고객', '식료품', '010-1111-1113', 'ccc@korea.com', '경기'),
 ('ddd', '홍고객', '공산품', '010-1111-1114', 'ddd@korea.com', '대전'),
 ('eee', '조고객', '컴퓨터', '010-1111-1115', 'eee@korea.com', '대전'),
 ('fff', '백고객', '관광', '010-1111-1116', 'fff@korea.com', '울산')]

In [15]:
sql = """
SELECT DM_TBL.custid, author, maildate, 
        contents, campaign FROM DM_TBL, bookinfo_tbl
        where DM_TBL.custid = bookinfo_tbl.custid
"""

In [16]:
cur.execute(sql)

In [17]:
cur.fetchall()

[('aaa', '김고객', '2017-12-01', '안녕하세요?', 'C'),
 ('bbb', '이고객', '2017-12-01', '안녕하세요?', 'C1'),
 ('ccc', '박고객', '2017-12-01', '안녕하세요?', 'C1'),
 ('ddd', '홍고객', '2017-12-24', '안녕하세요?', 'C2'),
 ('eee', '조고객', '2017-12-24', '안녕하세요?', 'C2'),
 ('fff', '백고객', '2017-12-24', '안녕하세요?', 'C2')]

In [18]:
sql = """
SELECT area, count(1) FROM DM_TBL, bookinfo_tbl
        where DM_TBL.custid = bookinfo_tbl.custid
        GROUP BY area
"""

In [19]:
cur.execute(sql)

In [20]:
cur.fetchall()

[('경기', 1), ('대전', 2), ('서울', 2), ('울산', 1)]